<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h1>Reset your password</h1>

        <form method="POST">
            <div class="form-group">
              
                    <label>New Password :</label>
                      <div class="password-container">
                     <br><br>
                    <input class="input-box" type="password" name="password" required>
                    <button type="button" id="togglePassword">
                        Show
                    </button>
                </div>
                <p id="strengthMessage"></p>
            </div>

            <div class="form-group">
                
                    <label>Confirm Password :</label>
                    <div class="password-container">
                    <br><br>
                    <input class="input-box" type="password" name="confirm_password" required>
                    <button type="button" id="toggleConfirmPassword">
                        Show</button>
                </div>
                <p id="matchMessage"></p>
            </div>


            <button type="submit" id="register">
                Reset Password
            </button>

        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>